body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.7;
}

header {
    background-color: #4CAF50;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 2px;
}

main {
    padding: 20px;
    margin: 0 auto;
}

section {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section h2 {
    color: #4CAF50;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

ul, ol {
    margin-bottom: 20px;
    padding-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 30px;
    border-top: 1px solid #4CAF50;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.button:hover {
    background-color: #45a049;
}

.explanation {
    background-color: #f5f5f5;
    padding: 15px;
    border-left: 4px solid #4CAF50;
    margin-bottom: 20px;
    border-radius: 5px;
}

/* Styly pro roky jako tlačítka */
.rok-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.rok-tlacitko {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 5px;
    color: #333;
    background-color: white;
    transition: background-color 0.3s ease;
}

.rok-tlacitko:hover {
    background-color: #f0f0f0;
}

/* Styly pro matematické výrazy */
.matematicky-vyraz {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.matematicky-vyraz p {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    text-align: center;
    width: 100%;
}

.cervena {
    color: red;
}

.modra {
    color: blue;
}

.zelena {
    color: green;
}

.matematicky-vyraz .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.matematicky-vyraz button {
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin: 0 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.matematicky-vyraz button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.matematicky-vyraz button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styly pro složené zlomky */
.slozeny-zlomek {
    min-width: 700px;
    min-height: 500px;
}

.slozeny-zlomek p {
    font-size: 1.8em;
}

.arrow-down, .arrow-up {
    font-size: 4em;
    line-height: 1.5;
}

/* Pro mobilní zařízení */
@media (max-width: 600px) {
    .arrow-down, .arrow-up {
        font-size: 3em;  /* Zmenšíme šipky */
        line-height: 1.2; /* Zkrátíme výšku šipek */
    }
}